<h1>employee data</h1>
<p>name: {{name}}</p>
<p>surname: {{surname}}</p>
<p>age: {{age}} , {{(age >= 18)? true : false}} </p>
<p>company: {{company}}</p>
<br/><br/>
Insert company:
<!-- <input type = "text" (input)="setCompany($event)"/> -->
<input type = "text" [(ngModel)]="company"/>

<!-- <input type = "text" #companyName (keyup)="updateCompany(companyName.value)" [disabled]="companyName"><br/> -->
<!-- <input type="button" value="Send" (click)="showCompany()" /><br/><br/> -->
{{registerText}}<br/>
Registered:
<input type="radio" name="register" id="register" value="true" [checked]="registered" (click)="setRegistered($event)"/>
No Registered:
<input type="radio" name="register" id="register"  value="false" [checked]="registered" (click)="setRegistered($event)"/><br/>
{{getRegistered()}}