<p>notes-list works!</p>
<div class="card" style="width:300px">
  <img class="card-img-top" src="assets/img/notes.gif" alt="Title" />
  <div class="card-body">
    <h4 class="card-title">you have {{ notes.length }} notes</h4>
  </div>
</div>
<div class="row justify-content-center align-items-center">
  <div class="col" *ngFor="let note of notes;index as i">
    <div class="card mx-auto">
      <div class="card-body">
        <h3 class="card-title">Nº: {{ i }}</h3>
        <!-- using index -->
        <h4 class="card-title">{{ notes[i].title }}</h4>
        <!-- using iterate item -->
        <h6 class="card-title">{{ note.text }}</h6>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <a routerLink="/new"><button> Add new note</button></a>
  <ul class="notes">
    <li *ngFor="let note of notes">
      <button [routerLink]="['/note', note.id]">
        <span class="note-title">{{ note.title }}</span>
        <span class="note-text">{{ note.text }}</span>
      </button>
    </li>
  </ul>
</div>
<!-- link with formControl in class -->
<!-- <form (submit)="showName()">
  <input type="text" [formControl]="name" name="name" /> text after notes list
  <p>{{ name.value }}</p>in form control
  <input type="submit" value="Submit notes list"  />
</form>
 form group 
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <p><input type="text" formControlName="username" />user</p>
  <p><input type="text" formControlName="password" />password</p>
  <input type="submit" value="Submit login form" [disabled]="!loginForm.valid"/>
  <input type="button" value="Reset" (click)="loginForm.reset()">
</form>
<p>{{ loginForm.value.username }}</p>in form group<br/> -->